node_modules
npm-debug.*
.vscode/**/*
!.vscode/settings.json

public/assets/js/client.js
public/assets/js/client.js.*
public/assets/js/service-worker.js
public/assets/js/service-worker.js.*

*.env
*.SECRET

# macOS
.DS_Store
**/.DS_Store
._*
**/._*
